@import url('https://fonts.googleapis.com/css?family=Roboto');
* {margin:0px;padding:0px;box-sizing:border-box;}
body{
	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.5;
}
header{ 
    padding: 20px 100px;

}

nav {
    float: right;
}
nav a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
}
nav a:hover{
    text-decoration: underline;
    color: #00aec7;
}
.clearfix:after, .project:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    font-size: 0;
}

#intro {
    background-color: #daf1ee;
    height: 728.99px;
    
}
#intro_paragraph {
    width: 600px;
    float: left;
    padding: 250px 100px
}

#intro_image {
    float: right;
}

#skill_description {
    background-color: #f2f2f2;
    padding: 250px 100px;
}
#delta{
    background-color: white;
}
#delta_paragraph {
    width: 700px;
    float: left;
    padding: 250px 100px
} 
#delta_image {
    float: right;
} 

#dentegra{
    background-color: #f2f2f2;
}
#delta_paragraph {
    width: 700px;
    float: right;
    padding: 250px 100px
} 
#delta_image {
    float: left;
} 
#other_skills {
    background-color: #666666;
}
footer {
    background-color: #f2f2f2;
    padding: 100px;
}

h1{	
font-size: 40px;
font-weight:bold;
text-transform: uppercase;

}

h2{
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-bottom: .5em; */
}

h3{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
